*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url(Amazon-Emblem.jpg);
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/**box2**/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;

}
#add-sec{
    color: #ffffff;
    font-size: 1rem;
}
.add-icon{
    align-self: flex-end;
}
.nav-address{
    display: flex;
    width: 70px;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px 0px 9px;
}
/* box3 */
.nav-search{
    display: flex;
    /* margin: 0px 6px 0px 6px;
    padding: 10px 4px 10px 3px; */
    /* width: 540px;
    height: 40px; */
}
.search-select{
    background-color: rgb(225, 225, 225);
    color: dimgrey;
    height: 43px;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-select:hover{
    background-color: darkgrey;
    color: black;
}
.search-input{
    height: 41px;
    width: 438px;
    border: none;
    font-size: large;
}
.nav-search:active{
    border: 3px solid orange;
    border-radius: 6px;
}
.search-button{
    background-color: orange;
    height: 43px;
    width: 39px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    font-size: 1.2rem;
}
.search-button:hover{
    background-color: peru;
}
/**box4**/
.flag{
    width: 40px;
    height: 20px;
    background-image: url(flag.webp);
    background-size: cover;
}
.lang{
    display: flex;
    align-items: center;
    width: 75px;
    height: 60px;
    height: 50px;
}
.lang-select{
    background-color: transparent;
    color: white;
    align-self: end;
    border: none;
}
/* box5 */
.nav-sign{
    padding: 0px 9px 10px 9px;
    margin: 0px 0px 0px 2px;
}
.signin-line{
    font-size: 0.7rem;
}
.sign-select{
    font-size: 0.85rem;
    font-weight: 700;
    background-color: transparent;
    color: white;
    border: none;
}
/* box6 */
.nav-orders{
    height: 35px;
    margin-left: 2px;
    padding: 0px 9px 9px 9px;
}
/**box5**/
.nav-cart{
    display: flex;
    margin: 0px 11px 0px 2px;
    padding: 0px 9px 11px 9px;
}
.cart{
    font-size: 1.5rem;
}
.cart-word{
    align-self: flex-end;
}
/* second panel */
.panel{
    height: 40px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
}
.nav-menu{
    color: #ffffff;
    display: flex;
    /* justify-content: space-evenly; */
    width: 58px;
    padding: 8px 9px 8px 9px;
}
.menulist{
    font-weight: 600;
}
.panel-ops{
    display: flex;
}
.op-name{
    height: 19px;
    color: #ffffff;
    font-size: small;
    margin: 2px 0px 6px 0px;
    padding: 8px 5px 8px 9px;
}
.newop{
    color: #cccccc;
    height: 18px;
    margin: 2px 0px 6px 90px;
    padding: 8px 5px 8px 9px;
}
.hero-section{
    background-image: url(hero-img.jpg);
    background-size: cover;
    width: 1263px;
    height: 270px;
}
/* .shop-section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(249, 198, 103);
}
.box{
    border: 2px solid black;
    height: 450px;
    width: 23%;
    background-color: white;
}
h2{
    margin: 20px 6px 8px 20px;
}
.box1-img{
    height: 110px;
    width: 120px;
    background-size: cover;
    margin: 30px 6px 8px 20px;
}
.box1-img2{
    height: 110px;
    width: 120px;
    background-size: cover;
    margin: 30px 6px 8px 20px;
    position: absolute;
    left: 150px;
    top: 448px;
}
.box1-img3{
    height: 110px;
    width: 120px;
    background-size: cover;
    margin: 30px 6px 8px 20px;
    position: absolute;
    left: 150px;
    top: 620px;
}
.a-line{
    font-size: x-small;
    margin: 5px 0px 8px 20px;
}
.b-line{
    font-size: x-small;
    margin: 5px 0px 8px 20px;
}
.c-line{
    font-size: x-small;
    margin: -20px 0px 8px 170px;
}
.d-line{
    font-size: x-small;
    margin: -190px 0px 8px 170px;
}
/** explore link**/
a{
    text-decoration: none;
    color: #007185;
    position: relative;
    top: 180px;
    left: 20px;
    font-size: small;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;
    color: #c7511f;
}
.b2-img{
    height: 30%;
    width: 75%;
    background-size: cover;
    margin: auto ;
    margin-top: 25px;
}
.a2-line{
    font-size: small;
    position: relative;
    left: 35px;
    top: 5px;
}
.see{
    text-decoration: none;
    color: #007185;
    position: relative;
    top: 6px;
    left: 35px;
}
.b3-img{
    height: 30%;
    width: 75%;
    background-size: cover;
    margin: auto ;
    margin-top: 25px;
}
.a3-line{
    font-size: small;
    position: relative;
    left: 35px;
    top: 5px;
}
.b4-img{
    height: 30%;
    width: 75%;
    background-size: cover;
    margin: auto ;
    margin-top: 25px;
}
.a4-line{
    font-size: small;
    position: relative;
    left: 35px;
    top: 5px;
}
.space{
    height: 160px;
    display: flex;
    justify-content: center;
}
.Sign-in{
    width: 230px;
    height: 28px;
    background-color: rgb(255, 149, 0);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    top: 45px;
}
.line{
    position: relative;
    top: 40px;
    left: 6px;
    font-size: small;
    font-weight: 600;
}
.new{
    position: relative;
    top: 50px;
    left: 50px;
    font-size: x-small;
    font-weight: 600;
}
.start{
    position: relative;
    top: 32.9px;
    left: 130px;
    font-size: x-small;
    font-weight: bold;
}
.start:hover{
    text-decoration: none;
}
/* footer */
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    height: 300px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
}
ul p{
    position: relative;
    top: 50px;
}
ul a{
    display: block;
    position: relative;
    top: 80px;
}
.list-header{
    font-size: larger;
    color: white;
    font-weight: bold;
}
.list{
    text-decoration: none;
    color: #cccccc;
}
.list:hover{
    text-decoration: underline;
    color: #cccccc;
}
.foot-panel3{
    height: 70px;
    background-color: #232F3E;
    border-top: 0.5px solid dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.global{
    background-color: transparent;
    border: none;
    color: #cccccc;
}
.globe{
    height: 50px;
    width: 90px;
    border: 0.5px solid dimgray;
    display: flex;
}
.foot-panel4{
    background-color: #131A22;
    height: 80px;
    color: white;
}
.last{
    position: relative;
    left: 450px;
    top: 10px;
    padding-right: 5px;
    color: white;
    font-weight: 500;
    font-size: small;
    text-align: center;
}
.last:hover{
    color: white;
}
.copyrights{
    position: relative;
    top: 20px;
    font-size: small;
    text-align: center;
}